* {
    margin:0;
    padding: 0;
    border-color: aliceblue;
}
body{
    background-color: bisque;
    text-align: center;
}
#container
{
    height: 400px;
   
}
#game{
    margin-top: 100px;
   margin-left: 550px;
    width: 46.1vmin;
    gap:10px;
    height: 45vmin;
    
    display: flex;
    flex-wrap: wrap;
}
.box{
    display:inline;
    height: 14vmin;
    width: 14vmin;
    border-radius: 1rem;
    border:none;
    color: black;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
   font-size: 30px;
   background-color: brown
}
#reset{
    padding: 10px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 1rem;
}
.message-container{
    height: 100vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.hide{
   display: none;
    
}
.newgame{
    padding: 10px;
    background-color: black;
    font-size: 15px;
    color: white;
    border-radius: 1rem;
}

.msg{
    color: black;
    font-size: 50px;
}
h1{
    padding-top: 50px;
    font-size: 50px;
}

    
